<%- model_class = GbUser -%>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:username) %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |gb_user| %>
      <tr>
        <td><%= link_to gb_user.id, gb_user_path(gb_user) %></td>
        <td><%= gb_user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>