<div id='clearance' class='sign-up'>
  <h2><%= t('.title') %></h2>

  <%= simple_form_for @user,:html => { :method => :put,:class => 'form-horizontal'  } do |form| %>
    <%= render :partial => '/users/form', :object => form %>
  <% end %>
</div>
