<input data-type='<%=taggable.class%>' data-id='<%=taggable.id%>' data-tags='<%=taggable.menus_from(owner).join(',')%>' type="text" name="tags" placeholder="Tags" class="tm-input input-mini tm-input-info"/>
        </td>