<%- model_class = ActsAsTaggableOn::Tag -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<%=render 'gb_repos/list',:collection=>GbRepo.tagged_with(@tag.name,:on=>:menus,:owned_by=>@user)%>

<%=render 'gists/list',:collection=>Gist.tagged_with(@tag.name,:on=>:menus,:owned_by=>@user)%>

<% content_for :right do %>
<%=render 'tags/list',:collection=>@user.owned_tags.order('name asc'),:user=>@user%>
<% end %>