<%- model_class = GbRepo -%>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
    </tr>
  </thead>
  <tbody>
    <% collection.each do |gb_repo| %>
      <tr>
        <td><%= link_to gb_repo.extra['name'], gb_repo_path(gb_repo) %></td>
        <td>
          <%= gb_repo.address %><br/>
          <div class="tag-list">
            <div class="tags">
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>