<%- model_class = GbRepo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%=render 'list',:collection=>@collection%>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>

<% content_for :right do %>
<%=render 'tags/list',:collection=>@user.owned_tags,:user=>@user%>
<% end %>